<template name='forgot'>

  {{> pageHeader}}

  <div class="auth">
    <form class="login">
      <h1>Reset Password</h1>
      <p class='center'>Enter your email and a we will send you a reset link.</p>

      {{#if $.Session.get 'forgotError'}}
        <p class='error'>{{$.Session.get 'forgotError'}}</p>
      {{/if}}
      {{#if $.Session.get 'forgotSuccess'}}
        <p class='success'>{{$.Session.get 'forgotSuccess'}}</p>
      {{/if}}

      <input type="email" name='email' placeholder='Email'>
      <button type='submit'>Reset</button>
    </form>
  </div>

</template>
