$main-colour: #FFE165;
$secondary-colour: black;
$accent-colour: #EA5455;
$dark-text: #383838;
$light-text: white;
$success-colour: #83CC61;
$error-colour: #DE4242;
$grey-back: #F5F5F5;
$dark-main: #FFC808;
$amazon-orange: #FF9900;
$footer-height: 3em;
$bradius: 2px;
