@import 'normalize';
@import 'animate';
@import 'sass-css3-mixins';
@import 'susy';
@import 'fonts';
@import 'variables';

$susy: (
  columns: 12,
  gutters: .25,
  gutter-position: inside
  );

$mobile: 600px;
$tablet: 900px;
$smallish: 1000px;
$desktop: 1600px;
$large: 2600px;

/* Makes border-box properties */
@include border-box-sizing;

// mixins

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  font-family: "Muli", "Helvetica", sans-serif;
  color: $dark-text;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  // box-sizing: border-box;
}

*, *:before, *:after {
  // box-sizing: inherit;
}

textarea, input, button:focus {
  outline: 0;
}

h1, h2 {
  font-weight: 200;
}

a {
  color: $secondary-colour;
  text-decoration: underline;
}

a:hover {
  color: $accent-colour;
}

.nostyle {
  text-decoration: none;
  color: $dark-text;
}
.nostyle:hover {
  text-decoration: none;
  color: $dark-text;
}

button {
  padding: 0.5em 1em;
  background-color: $dark-main;
  border: none;
  height: calc(2.4rem + 1px);
  @include border-radius($bradius);
  cursor: pointer;

  [class*="entypo-"] {
    margin-right: 1em;
  }
}

button:active {
  opacity: 0.8;
}

button:disabled {
  opacity: 0.5;
}

input {
  box-sizing: border-box;
  border: none;
  height: 2.4rem;
  padding-left: 1em;
  @include border-radius($bradius);
}

textarea {
  padding-left: 0.5em;
  padding-top: 0.4em;
  border: none;
}

.error {
  padding: 0;
  margin: 0;
  color: $error-colour;
}

.text-link {
  font-size: 1em;
  text-decoration: none;
}

.text-link:hover {
  text-decoration: underline;
  color: $accent-colour;
  cursor: pointer;
}

.header-text {
  margin-top: 2em;
  text-align: center;
  font-size: 6em;
  cursor: pointer;
  @media(max-width: $smallish) {
    font-size: 4em;
  }

  @media(max-width: $mobile) {

  }

  img {
    margin-bottom: -0.5em;
    margin-right: 0.5em;
    width: 2em;
  }
}

.center {
  text-align: center;
}

.list-style {
  list-style-type: none;
  margin-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: $grey-back;
  border-left: solid 4px $dark-main;
  border-right: solid 4px $dark-main;
  @include border-radius($bradius);
}

.list-style:hover {
  border-left: solid 4px $accent-colour;
  border-right: solid 4px $accent-colour;
}

.heading {
  @include container(60%);

  @media(max-width: $smallish) {
    @include container(80%)
  }

  @media(max-width: $mobile) {
    @include container(100%);
  }

  .head:first-child {
    text-align: right;
    @media(max-width: $mobile) {
      // text-align: center;
      padding-left: 0.2em;
    }
  }

  .head:last-child {
    text-align: left;
    @media(max-width: $mobile) {
      text-align: center;
      padding-right: 0.2em;
    }
  }

  .head {
    @include span(40%);
    @media(max-width: $smallish) {
      text-align: center;
    }
  }

  .head-image {
    @include span(20%);
    padding-top: 0.1em;

    .logo {
      display: block;
      margin: auto;
      width: 100%;
      height: 100%;
      max-width: 1em;
      max-height: 1em;

      svg {
        cursor: pointer;
      }

      @media(max-width: $mobile) {
        margin-left: 0.3em;
      }
    }
  }
}

.header {
  padding-bottom: 2em;
  padding-top: 2em;
  background-color: $main-colour;

  @include container(100% no-gutters);

  .header-text {
    margin-top: 0.5em;
  }

  .header-info {
    @include container(40%);
    text-align: center;

    @media(max-width: $mobile) {
      @include container(80%);
    }

    @media(min-width: $desktop) {
      @include container(30%);
    }

    p {
      @include span(100%);
      font-size: 1.2em;
    }
  }
}

#wrapper {
  @include container();
  min-height: calc(100% - #{$footer-height});
}

.changepassword {
  @include container();
}

.login {
  @include container(50%);
  @media(max-width: $tablet) {
    @include container(70%);
  }
  @media(max-width: $mobile) {
    @include container(94%);
  }
  @media(min-width: $desktop) {
    @include container(30%);
  }

  h1, h2 {
    text-align: center;
    margin-top: 0;
  }

  input {
    @include span(100%);
    margin-bottom: 0.5em;
    border: solid 1px $main-colour;
  }

  button {
    @include span(100%);
    font-size: 1.5em;
    height: 2em;
    margin-bottom: 0.5em;
  }

  .forgot {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    text-align: right;
  }

  .social {
    @include container();
    font-size: 2em;
    text-align: center;

    .icon-wrapper {
      @include span(50%);
      @media(max-width: $mobile) {
        @include span(100%);
      }
      color: white;
      span {
        @include span(100%);
        padding: 0.2em 0;
        cursor: pointer;
      }

      .fb {
        background-color: #3b5998;
      }

      .gplus {
        background-color: #dd4b39;
      }
    }

    .icon-wrapper:first-child {
      padding-left: 0;
      @media(max-width: $mobile) {
        padding: 0
      }
    }

    .icon-wrapper:last-child {
      padding-right: 0;
      @media(max-width: $mobile) {
        padding: 0;
        margin-top: 0.1em;
      }
    }
  }
}

.auth {
  @include container();
  padding: 3em 0;
}

.about {
  @include container();
  padding: 3em 0;
  background-color: $accent-colour;
  color: $light-text;

  h1 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 1em;
  }

  .star-container {
    @include span(100%);
    margin-top: 0;
    margin-bottom: 2em;

    img {
      display: block;
      margin: auto;
      width: 4em;
    }
  }
}

.hack {
  @extend .about;
  background-color: $main-colour;
  color: $dark-text;
  text-align: center;

  .copy {
    p {
      font-size: 1.2em;
      margin-top: 0;
    }

    a {
      text-decoration: none;
    }
  }
}

.copy {
  @include container(50%);
  @media(max-width: $tablet) {
    @include container(70%);
  }
  @media(max-width: $mobile) {
    @include container(94%);
  }
  @media(min-width: $desktop) {
    @include container(30%);
  }

  line-height: 1.5em;

  p {
    margin-top: 1em;
  }

  p:last-child {
    margin-bottom: 0;
  }

  .thats {
    font-size: 1.1em;
    border-bottom: 2px solid $dark-main;
  }

  .icon-sep {
    display: block;
    margin: auto;
    width: 1em;
  }
}

.page-header {
  margin-bottom: 2em;
  padding-bottom: 3em;
  background-color: $main-colour;

  @include span(12 of 12);

  .header-text {
    margin-top: 1em;
  }

  .user-actions {
    position: absolute;
    right: 2em;
    margin-top: 1em;

    a {
      cursor: pointer;
      text-decoration: none;
    }

    a:hover {
      color: $accent-colour;
    }
  }
}

.notifications {
  position: fixed;
  top: 2em;
  right: 2em;

  .noti-list {
    .noti {
      @include container(25em);
      min-width: 20em;
      @include border-radius(4px);
      margin-bottom: 0.3em;
      padding: 1em;
      background-color: $grey-back;
      @include box-shadow(darkgray, 0px, 0px, 10px);

      @include fadeIn();

      .icon {
        @include span(2 of 12);
        margin-top: 0.5em;
        font-size: 2em;
      }

      .label {
        @include span(10 of 12);
        padding-left: 1em;
      }

      .actions:hover > a {
        opacity: 0.3;
        transition: opacity .5s ease-out;
      }

      .actions {
        @include span(8 of 12);
        @include prefix(2 of 12);
        margin-top: -1em;
        margin-left: 1em;
        opacity: 1;

        a {
          cursor: pointer;
          text-decoration: none;
          opacity: 1;
          transition: opacity .5s ease-out;
        }

        a:hover {
          opacity: 1;
          transition: opacity .5s ease-out;
        }

        .action {
          @include span(6 of 12);
          padding-top: 0.2em;
          padding-bottom: 0.2em;
          text-transform: uppercase;
        }
        .accept {
          color: $success-colour;
        }

        .decline {
          color: $error-colour;
        }

        .okay {
          color: $dark-main;
        }
      }

      .progress {
        @include span (12 of 12);
        background-color: $dark-main;
        height: 2px;
        @include transform-origin(left);
        @include transform(scaleX(0));
      }

      .progress-start {
        @include transform-origin(left);
        @include transform(scaleX(1));
        @include transition(transform 3s ease-in-out);
      }

    }

    .noti-out {
      @include fadeOut(0.3);
    }
  }
}

.user {
  @include span(100% no-gutters);
  .page-header {
    // margin-top: -1.4em;
  }

  .add-wish-form {
    margin-top: 1.15em;
  }

  .list-section {
    ul {
      max-height: none;
    }
  }

  .user-body {
    @include container(50%);
    @media(max-width: $tablet) {
      @include container(94%);
    }

    .user-info {
      @include container(100%);

      .avatar-cont {
        @include span(100%);
        .avatar {
          display: block;
          margin: auto;
          width: 8em;
          @include border-radius(150px);
        }
      }

      .user-input {
        @include span(100%);
        padding-top: 0.2em;
        text-align: center;

        input, span {
          display: block;
          padding: 0;
          margin: 0;
          height: 2em;
          font-size: 2em;
          font-weight: 200;
          text-align: center;
        }
      }

      .name {

        @extend .user-input;
        margin-top: 1em;

        input, span {
          height: 1.5em;
        }
        span {
          padding-top: 0.19em;
        }
      }

      .email {
        @extend .user-input;

        input, span {
          height: 1.2em;
          font-size: 1em;
        }
      }

      .changepass {
        @extend .user-input;

        input, span {
          height: 1.2em;
          font-size: 1em;
        }
      }

      .passtext:hover {
        text-decoration: underline;
        color: $accent-colour;
        cursor: pointer;
      }
    }
  }
}

.list-section {
  .ul-container {
    @include container();
  }
  ul {
    @include span(100%);
    padding-left: 0;
    overflow-y: auto;
    margin-top: 2em;

    @media(min-width: $tablet) {
      // max-height: 80em;
    }
  }
}

.empty-state {
  @include container();
  margin-top: 2em;
  padding: 2em;
  text-align: center;
  background-color: $grey-back;
  @include border-radius($bradius);

  @media(max-width: $tablet) {
    margin-bottom: 2em;
  }

  .col {
    @include span(100%);
  }

  .icon {
    font-size: 3em;
    font-family: monospace;
  }

  p {
    margin-bottom: 0;
  }

  img {
    width: 6em;
  }
}

.invite-mail {
  padding-bottom: 2.2em;

  .email {
    color: $accent-colour;
  }
}

.wish-list {
  @include container();
  padding-bottom: 3em;
  @media(max-width: $tablet) {
    padding-bottom: 0;
  }

  // target firefox
  @-moz-document url-prefix() {
    margin-top: -0.7em;
  }

  .add-wish {
    @include container();

    .add-wish-form {
      @include span(12 of 12);
      padding-top: 2em;
      padding-bottom: 1em;
      padding-left: 1em;
      padding-right: 1em;
      background-color: $main-colour;
      @include border-radius(2px);
    }

    h2 {
      @include span(12 of 12);
      font-weight: 400;
      margin-bottom: 0.5em;
      margin-top: 0;
      text-align: center;
    }

    .tab {
      @include span(50%);
      margin-bottom: 0.5em;
      padding-top: 0.4em;
      padding-bottom: 0.4em;
      text-align: center;
      font-size: 1.5em;
      padding: 0.4em 0;
      cursor: pointer;
      background-color: $dark-main;
    }

    .tab:first-child {
      // border-right: solid 1px $light-text;
    }

    .active-tab {
      border-bottom: 2px solid $accent-colour;
      padding-bottom: calc(0.4em - 2px);
      opacity: 1;
      // transition: border-bottom .5s ease-out;
    }

    .amazon {
      @include container();

      .amazon-input {
        @include span(10 of 12 no-gutters);
      }

      .amazon-submit {
        @include span(2 of 12 no-gutters);
        font-size: 1.1em;
        border-bottom: solid 1px $main-colour;

        span {
          margin-right: 0;
        }
      }
    }

    .text {
      @include container();

      p {
        font-size: 0.9em;
        margin-bottom: 0;
        margin-top: 0;
      }

      .text-input {
        margin-bottom: 0.2em;
        input {
          width: 100%;
        }
      }

      .product-name {
        @include span(12 of 12 no-gutters);
      }

      .seller {
        @include span(6 of 12 no-gutters);
        padding-right: 0.4em;
      }

      .price {
        @include span(6 of 12 no-gutters);
        padding-left: 0;
      }

      .url {
        @include span(6 of 12 no-gutters);
        padding-right: 0.4em;
      }

      .image-url {
        @include span(6 of 12 no-gutters);
      }

      .detail {
        @include span(12 of 12 no-gutters);

        textarea {
          resize: none;
          width: 100%;
          height: 4em;
        }
      }

      .submit {
        @include span(12 of 12 no-gutters);
        font-size: 1.2em;

        button {
          width: 100%;
        }
      }
    }
  }
}

.list {
  .list-body {
    @include container(94%);
    @media(min-width: $desktop) {
      @include container(86%);
    }

    .your-list {
      @include span(50%);

      @media(max-width: $tablet) {
        @include span(100%);
      }

      h1 {
        margin-bottom: 0.5em;

        @-moz-document url-prefix() {
          margin-bottom: 0.8em;
        }
      }
    }

    .friends {
      h1 {
        margin-bottom: 0.5em;
      }

      @include span(50%);
      @media(max-width: $tablet) {
        @include span(100%);
      }
    }
  }
}

.friend-list {
  a:hover {
    color: $dark-text;
  }

  .add-friend {
    @include container();
    padding-top: 2em;
    padding-bottom: 1.9em;
    padding-left: 1em;
    padding-right: 1em;
    background-color: $main-colour;
    text-align: center;
    font-weight: 400;

    h2 {
      margin: 0;
      font-weight: 400;
    }

    .friend-input {
      @include span(9 of 12 no-gutters);
      margin-top: 2em;
    }

    .friend-submit {
      @include span(3 of 12);
      margin-top: 1.8em;
      margin-bottom: 1.6em;
      font-size: 1.1em;
      border-bottom: solid 1px $dark-main;

      // target firefox
      @-moz-document url-prefix() {
        border-bottom: none;
      }
    }
  }
}

.friend-item {
  @include container(100%);
  @extend .list-style;

  .avatar {
    @include span(2 of 12 no-gutters);
    @include border-radius(150px);
  }

  .info {
    @include span(10 of 12);

    .name {
      @include span(10 of 12);
      margin-top: 0.7em;
      margin-bottom: 0;
      padding-left: 2em;
      font-size: 2em;
    }

    .unfriend, .addfriend {
      @include span(2 of 12);
      margin-top: 0.9em;
      font-size: 2em;
      cursor: pointer;
    }
  }
}

.add-friend-item {
  @include container(100%);
  margin-bottom: 0.5em;
  padding: 1em 0.5em;
  list-style-type: none;
  background-color: $grey-back;

  .info {
    .name {
      @include span(8 of 12);
      padding-left: 2em;
    }

    .addfriend {
      @include span(4 of 12);
      margin-top: 0.9em;
      text-align: center;
    }

    .addfriend:hover {
      border-bottom: solid 1px $main-colour;
    }

    .add-friend-text {
      padding-right: 1em;
      font-size: 0.8em;
    }

    .add-friend-icon {
      // color: $dark-text;
    }
  }
}

.list-item {
  @include container();
  @extend .list-style;

  .image-url {
    @include span(3 of 12);
  }

  .info {
    @include span(9 of 12);

    p {
      margin: 0;
    }

    .title-icon {
      @include container();
      font-size: 1.5em;
      font-weight: 200;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      .type {
        @include span(2 of 12);
      }

      .delete {
        @include span(1 of 12);
        cursor: pointer;
      }
    }

    input,.sinput {
      @include span(11 of 12);
      background-color: transparent;
      padding: 0;
      margin: 0;
      height: 1.2em;
    }

    span {
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .seller {
      @include span(10 of 12 no-gutters);
      color: darkgray;
      font-size: 1.2em;
    }

    .seller-wrapper {
      @include container();
      input, span {
        color: darkgray;
        margin-top: 0.2em;
      }
    }

    .favicon-icon {
      @include span(2 of 12);
      width: 2.5em;
      padding-right: 1em;
      padding-top: 3px;
      color: $amazon-orange;
    }
    .price-bought {
      @include container();

      .price {
        font-size: 1.5em;
        input,span {
          @include span(6 of 12 no-gutters);
        }
      }

      .bought {
        @include span(6 of 12);
        padding-top: 0.4em;

        .buy {
          font-size: 1em;
          text-decoration: underline;
          cursor: pointer;
        }

        .buy:hover {
          opacity: 0.8;
        }

        .buy-already {
          cursor: normal;
          color: $error-colour;
        }

        .buy-mark {
          color: $success-colour;
        }
      }
    }

    .detail {
      @include span(100%);
      margin-bottom: -0.5em;
      padding-bottom: 0.5em;
      padding-top: 0.5em;
      span,textarea {
        display: block;
        padding: 0.5em;
        background-color: white;
        resize: none;
        width: 100%;
        height: 4em;
        border-color: $dark-main;

        .empty-detail {
          padding: 0;
          display: inline;
          color: darkgray;
        }
      }
    }

    .url {
      padding-left: 0.4em;
    }
  }
}

.para {
  @include container(60%);
  @media(max-width: $tablet) {
    @include container(96%);
  }
  line-height: 1.5em;
}

.new-item {
  .name {
    margin-bottom: 1em;
  }
}

.item {
  @include container();
  height: 2em;

  .name {
    @include span(5 of 12);
  }

  .created {
    @include span(5 of 12);
  }

  .delete {
    @include span(2 of 12 no-gutters);
    span {
      font-size: 1.5em;
      cursor: pointer;
    }
  }
}

footer {
  @include container();
  height: $footer-height;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 2em;
  background-color: $dark-main;
  color: $dark-text;

  p {
    margin-top: 0;
    margin-bottom: 0;
  }

  a {
    color: $dark-text;
    text-decoration: none;
  }

  a:hover {
    color: $accent-colour;
    text-decoration: underline;
  }

  .about-link {
    position: absolute;
    right: 2em;
  }
}
