@import 'normalize';
@import 'animate';
@import 'sass-css3-mixins';
@import 'susy';
@import 'fonts';
@import 'variables';

$susy: (
  columns: 12,
  gutters: .25,
  gutter-position: inside
  );

$mobile: 600px;
$tablet: 900px;
$desktop: 1600px;

/* Makes border-box properties */
@include border-box-sizing;

// mixins

html, body {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Muli", "Helvetica", sans-serif;
  color: $dark-text;
  // box-sizing: border-box;
}

*, *:before, *:after {
  // box-sizing: inherit;
}

textarea, input, button:focus {
  outline: 0;
}

h1, h2 {
  font-weight: 200;
}

a {
  color: $secondary-colour;
  text-decoration: underline;
}

a:hover {
  color: grey;
}

.nostyle {
  text-decoration: none;
  color: $dark-text;
}
.nostyle:hover {
  text-decoration: none;
  color: $dark-text;
}

button {
  padding: 0.5em 1em;
  background-color: $main-colour;
  border: none;
  cursor: pointer;

  [class*="entypo-"] {
    margin-right: 1em;
  }
}

button:active {
  opacity: 0.8;
}

input {
  padding: 0.5em 0.5em;
  box-sizing: border-box;
}

.error {
  padding: 0;
  margin: 0;
  color: $error-colour;
}

.header-text {
  margin-top: 2em;
  margin-bottom: 1em;
  text-align: center;
  font-size: 4em;

  img {
    margin-bottom: -0.5em;
    margin-right: 0.5em;
    width: 2em;
  }
}

.header {
  margin-top: -2em;
  margin-bottom: 2em;
  padding-bottom: 2em;
  background-color: $main-colour;

  @include span(12 of 12);

  .header-info {
    @include container(50%);
    text-align: center;

    @media(max-width: $mobile) {
      @include container(94%);
    }

    p {
      @include span(50%);
    }
  }
}

.auth {
  margin-bottom: 2em;
  .login {
    @include container(50%);
    @media(max-width: $mobile) {
      @include container(94%);
    }

    h2 {
      text-align: center;
    }

    input {
      @include span(100%);
      margin-bottom: 0.5em;
    }

    button {
      @include span(100%);
      font-size: 1.5em;
      height: 2em;
      margin-bottom: 0.5em;
    }

    .social {
      @include container();
      margin-bottom: 2em;
      font-size: 2em;
      text-align: center;

      .icon-wrapper {
        @include span(50%);
        @media(max-width: $mobile) {
          @include span(100%);
        }
        color: white;
        span {
          @include span(100%);
          padding: 0.2em 0;
          cursor: pointer;
        }

        .fb {
          background-color: #3b5998;
        }

        .gplus {
          background-color: #dd4b39;
        }
      }

      .icon-wrapper:first-child {
        padding-left: 0
      }

      .icon-wrapper:last-child {
        padding-right: 0;
      }
    }
  }
}

.page-header {
  margin-bottom: 2em;
  padding-bottom: 2em;
  background-color: $main-colour;

  @include span(12 of 12);

  .header-text {
    margin-top: 1em;
  }

  .user-actions {
    position: absolute;
    right: 2em;

    a {
      cursor: pointer;
    }
  }
}

.user {
  .page-header {
    // margin-top: -1.4em;
  }

  .add-wish-form {
    margin-top: 1em;
  }

  .list-section {
    ul {
      max-height: none;
    }
  }

  .user-body {
    @include container(50%);
    @media(max-width: $tablet) {
      @include container(94%);
    }

    .user-info {
      .avatar {
        @include span(2 of 12);
        @include border-radius(150px);
      }

      .name {
        @include span(10 of 12);
        padding-left: 2em;
        padding-top: 0.2em;
      }
    }
  }
}

.list-section {
  ul {
    @include container();
    padding-left: 0;
    overflow-y: auto;
    margin-top: 2em;

    @media(min-width: $tablet) {
      max-height: 80em;
    }
  }
}

.empty-state {
  @include container();
  margin-bottom: 2em;
  margin-top: 2em;
  padding: 2em;
  text-align: center;
  background-color: $grey-back;

  .icon {
    font-size: 4em;
  }
}

.wish-list {
  .add-wish {
    @include container();

    .add-wish-form {
      @include span(12 of 12);
      padding-top: 0;
      padding-bottom: 1em;
      padding-left: 1em;
      padding-right: 1em;
      border: solid 1px $main-colour;
    }

    h2 {
      @include span(12 of 12);
      margin-bottom: 0.5em;
      text-align: center;
    }

    .tab {
      @include span(50%);
      margin-bottom: 0.5em;
      text-align: center;
      font-size: 1.5em;
      padding: 0.4em 0;
      cursor: pointer;
      background-color: rgba(255, 255, 101, 0.3);
    }

    .tab:first-child {
      border-right: solid 1px $dark-text;
    }

    .active-tab {
      background-color: $main-colour;
      opacity: 1;
    }

    .amazon {
      @include container();

      .amazon-input {
        @include span(10 of 12 no-gutters);
      }

      .amazon-submit {
        @include span(2 of 12 no-gutters);
        font-size: 1.1em;
        border-bottom: solid 1px $main-colour;
      }
    }

    .text {
      @include container();

      p {
        font-size: 0.8em;
        margin-bottom: 0;
        margin-top: 0;
      }

      .text-input {
        margin-bottom: 0.2em;
        input {
          width: 100%;
        }
      }

      .product-name {
        @include span(12 of 12 no-gutters);
      }

      .seller {
        @include span(6 of 12 no-gutters);
        padding-right: 0.4em;
      }

      .price {
        @include span(6 of 12 no-gutters);
      }

      .url {
        @include span(6 of 12 no-gutters);
        padding-right: 0.4em;
      }

      .image-url {
        @include span(6 of 12 no-gutters);
      }

      .detail {
        @include span(12 of 12 no-gutters);

        textarea {
          resize: none;
          width: 100%;
          height: 4em;
        }
      }

      .submit {
        @include span(12 of 12 no-gutters);
        font-size: 1.2em;

        button {
          width: 100%;
        }
      }
    }
  }
}

.list {
  .list-body {
    @include container(94%);

    .your-list {
      @include span(50%);

      @media(max-width: $tablet) {
        @include span(100%);
      }
    }

    .friends {
      @include span(50%);
      @media(max-width: $tablet) {
        @include span(100%);
      }
    }
  }
}

.friend-list {
  .add-friend {
    @include container();
    padding-top: 0;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    border: solid 1px $main-colour;
    text-align: center;

    .friend-input {
      @include span(9 of 12 no-gutters);
      margin-top: 1.6em;
      margin-bottom: 1.6em;
    }

    .friend-submit {
      @include span(3 of 12);
      margin-top: 1.4em;
      margin-bottom: 1.6em;
      font-size: 1.1em;
      border-bottom: solid 1px $main-colour;
    }

    .friend-submit:disabled {
      opacity: 0.5;
    }
  }
}

.friend-item {
  @include container(100%);
  margin-bottom: 1em;
  padding: 1em 0.5em;
  list-style-type: none;
  background-color: $grey-back;

  .avatar {
    @include span(2 of 12);
    @include border-radius(150px);
  }

  .info {
    @include span(10 of 12);

    .name {
      @include span(10 of 12);
      margin-top: 0.9em;
      margin-bottom: 0;
      padding-left: 2em;
      font-size: 2em;
    }

    .unfriend, .addfriend {
      @include span(2 of 12);
      margin-top: 0.9em;
      font-size: 2em;
      margin-top: 1em;
      cursor: pointer;
    }
  }
}

.add-friend-item {
  @include container(100%);
  margin-bottom: 1em;
  padding: 1em 0.5em;
  list-style-type: none;
  background-color: $grey-back;

  .info {
    .name {
      @include span(8 of 12);
      padding-left: 2em;
    }

    .addfriend {
      @include span(4 of 12);
      margin-top: 0.9em;
      text-align: center;
    }

    .addfriend:hover {
      border-bottom: solid 1px $main-colour;
    }

    .add-friend-text {
      padding-right: 1em;
      font-size: 0.8em;
    }

    .add-friend-icon {
      // color: $dark-text;
    }
  }
}

.list-item {
  @include container();
  list-style-type: none;
  padding: 0.5em 0;
  margin-bottom: 1em;
  background-color: $grey-back;

  img {
    @include span(3 of 12);
    padding-left: 0.5em;
  }

  .info {
    @include span(9 of 12);
    padding-top: 0.5em;

    p {
      margin: 0;
    }

    .title-icon {
      @include container();
      font-size: 1.5em;
      font-weight: 200;

      .title {
        @include span(8 of 12);
      }

      .type {
        @include span(2 of 12);
      }

      .delete {
        @include span(1 of 12);
        cursor: pointer;
      }
    }

    .seller {
      padding-left: 0.3em;
      color: lightgray;
    }

    .price-bought {
      @include container();
      font-size: 1.5em;

      .price {
        @include span(6 of 12);
      }

      .bought {
        @include span(6 of 12);

        button {
          padding: 0.2em 0.5em;
          font-size: 0.8em;
          width: 100%;
        }
      }
    }

    .detail {
      @include span(100%);
      margin-top: 0.5em;
      margin-bottom: -0.5em;
      textarea {
        resize: none;
        width: 100%;
        height: 4em;
      }
    }

    .url {
      padding-left: 0.4em;
    }
  }
}

.para {
  @include container(60%);
  @media(max-width: $tablet) {
    @include container(96%);
  }
  line-height: 1.5em;
}

.new-item {
  .name {
    margin-bottom: 1em;
  }
}

.item {
  @include container();
  height: 2em;

  .name {
    @include span(5 of 12);
  }

  .created {
    @include span(5 of 12);
  }

  .delete {
    @include span(2 of 12 no-gutters);
    span {
      font-size: 1.5em;
      cursor: pointer;
    }
  }
}

footer {
  background-color: $main-colour;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 2em;
  color: $dark-text;

  p {
    margin-top: 0;
    margin-bottom: 0;
  }

  a {
    color: $dark-text;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}
