<template name="about">

  <div class="header">
    <h1 class="header-text">
      About
    </h1>
  </div>

  <div class="para">
    <p>
      Go to <a href="/">home</a>
    </p>
    <p>
      <h2>Session Variables</h2>
      Counter: {{counter}}
      <br>
      <a class='increase' href="">increase</a> | <a href="" class="decrease">decrease</a>
    </p>
    <p>
      <div class="items">
        <h2>Collections</h2>
        <form class="new-item">
          <div class="name">
            <input class='input-main' name='name' type="text" placeholder="Item Name">
          </div>
          <div class="create">
            <button class="button-main" type="submit"> <span class="entypo-paper-plane"></span>Create Item</button>
          </div>
        </form>

        <ul>
          {{#each items}}
          {{> item}}
          {{/each}}
        </ul>

      </div>
    </p>
    <p>
      YAY the abuot page.
    </p>
  </div>

  {{> footer}}

</template>
