<template name='changePassword'>

  {{> pageHeader}}

  <div class="changepassword">
    <form class="pass">
      <h1>Change Password</h1>

      {{#unless passwordError}}
        <p class='error'>{{passwordError}}</p>
      {{/unless}}

      <input type="email" name='email' placeholder='Email'>
      <input type="password" name='password' placeholder='Password'>
      <button type='submit'>Go</button>

      <div class="social">
        <span class="icon-wrapper">
          <span class="fb entypo-facebook"></span>
        </span>
        <span class="icon-wrapper">
          <span class="gplus entypo-gplus"></span>
        </span>
      </div>
    </form>
  </div>

</template>
