<template name="home">

  <div class="header">
    <div class="header-text">
      <img class='logo' src="/images/star.svg" alt="">
      <span>Wish List</span>
    </div>

    <div class="header-info">
      <p>This paragraph will give small description of what Wish List is and does</p>
      <p>This is another paragraph that we can put stuff in</p>
    </div>
  </div>

  <div class="auth">
    <form class="login">
      <h2>Login / Register</h2>

      {{#unless $.Session.equals 'loginError' ''}}
        <p class='error'>{{$.Session.get 'loginError'}}</p>
      {{/unless}}

      <input type="email" name='email' placeholder='Email'>
      <input type="password" name='password' placeholder='Password'>
      <button type='submit'>Go</button>

      <div class="social">
        <span class="icon-wrapper">
          <span class="fb entypo-facebook"></span>
        </span>
        <span class="icon-wrapper">
          <span class="gplus entypo-gplus"></span>
        </span>
      </div>
    </form>
  </div>

</template>
