<template name="home">

  <div class="header">
    <div class="header-text">
      <!-- <img class='logo' src="/images/star.svg" alt=""> -->
      {{> heading}}
      <!-- <span>Wish List</span> -->
    </div>

    <div class="header-info">
      <p>Wish List is an online gift registry for holidays and events. Easily create and share your list with family and friends.</p>
    </div>
  </div>

  <div class="auth">
    <form class="login">
      <h2>Login or Register to Get Started</h2>

      {{#unless $.Session.equals 'loginError' ''}}
      <p class='error'>{{$.Session.get 'loginError'}}</p>
      {{/unless}}

      <input type="email" name='email' placeholder='Email'>
      <input type="password" name='password' placeholder='Password'>
      <button type='submit'>Go</button>

      <div class="social">
        <span class="icon-wrapper">
          <span class="fb entypo-facebook"></span>
        </span>
        <span class="icon-wrapper">
          <span class="gplus entypo-gplus"></span>
        </span>
      </div>
    </form>
  </div>

  {{> about}}

</template>
