<head>
  <title>Wish List</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="google-site-verification" content="mgDs1gJXrEO_AOx6cUaMHGFcAaDzmdzlBqYOR8YUBdI" />

  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="default">

  <meta name="description" content="Wish List is an online gift registry for holidays and events. Easily create and share your list with family and friends.">
  <meta name="keywords" content="wishlist,wish,list,gift,jake,tyson">
  <meta name="author" content="jakerunzer, tysonbattistella">

  <meta property="og:title" content="Wish List">
  <meta property="og:type" content="website">

  <link rel="shortcut icon" href="/favicon.ico?v=3ee9G6jy8k">

  <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
</head>

<body>
</body>

<template name="layout">
  <div id="wrapper">
    {{> yield}}
  </div>

  {{> footer}}
  {{> notifications}}
</template>

