<template name='list'>

  <div class="list">

    <div class="list-header">
      <a class='nostyle' href="/">
        <div class="header-text">
          <img class='logo' src="/images/star.svg" alt="">
          <span>Wish List</span>
        </div>
      </a>
    </div>

    <div class="list-body">

      <div class="your-list">
        <h1>Your List</h1>

        {{> addWish}}

        <ul>
          {{#each $.Session.get 'yourList'}}
            {{> listItem}}
          {{/each}}
        </ul>
      </div>

      <div class="friends">
        <h1>Friends</h1>

        {{> friendList}}
      </div>

    </div>

  </div>

</template>
