<template name='about'>
  <div class="about">
    <h1>What is Wish List</h1>
    <div class="star-container">
      <img src="/images/star_yellow.svg" alt="">
    </div>
    <div class="copy">
      <p>
        As the holiday season approached this year, we found ourselves using social media and other forms of technology to collect gift ideas for our friends and families.
      </p>
      <p>
        But, message threads grew too longs and emails got lost or accidentally deleted and trying to remember what people had asked for became a strenuous task.
      </p>
      <p>
        <span class="thats">That's when we decided to make wish list.</span>
      </p>
      <p>
        Inspired by wedding registries, Wish Lish in an online gift registry for all holidays and events. Copy and paste web links to items you would like, or take photos and add notes about items you see in the store.
      </p>
      <p>
        Invite your friends and family to your list and they can see exactly what you want when a special time of year approaches. When someone has purchased a gift, they can cross it off the list so you don't give someone a present they already have.
      </p>
      <p>
        Don't worry though, the maker of the list won't be able to see what has been purchased and what hasn't. With wish list, shopping for presents is stress free and  you'll never give or receive a bad gift again.
      </p>
    </div>
  </div>
</template>
