<template name='addWish'>
  <div class="add-wish">
    <form class="add-wish-form">
      <h2>Add Wish</h2>
      <div class="tabs">
        <span id='amazon-tab' class="tab {{amazonActive}}">
          Amazon
        </span>

        <span id='text-tab' class="tab {{textActive}}">
          Text
        </span>
      </div>

      {{#unless $.Session.equals 'addWishError' ''}}
      <p class='error'>{{$.Session.get 'addWishError'}}</p>
      {{/unless}}

      {{#if amazonActive}}
      <span class="amazon">
        <input class='required amazon-input' type="text" name='amazonurl' placeholder='Amazon url'>
        <button class='amazon-submit' type='submit' disabled="{{#if amazonDisabled}}true{{/if}}"><span class="entypo-right"></span></button>
      </span>
      {{else}}
      <span class="text">
        <span class="text-input product-name">
          <p class="required">Product Name</p>
          <input type="text" name='name' placeholder='Blue Socks'>
        </span>

        <span class="text-input seller">
          <p class="required">Seller</p>
          <input type="text" name='seller' placeholder='Sock Store'>
        </span>
        <span class='text-input price'>
          <p>Price</p>
          <input type="text" name='price' placeholder='$10.00'>
        </span>

        <span class="text-input url">
          <p>Store Url</p>
          <input type="text" name='url' placeholder='http://'>
        </span>
        <span class="text-input image-url">
          <p>Image Url</p>
          <input type="text" name='imageUrl' placeholder='image link'>
        </span>

        <span class="text-input detail">
          <p>Detail</p>
          <textarea name="detail" cols="3" placeholder='If the blue ones arent available, red will do'></textarea>
        </span>

        <span class="text-input submit">
          <button class="text-submit" type='submit'>
            Add
            <span class="entypo-right"></span>
          </button>
        </span>
      </span>
      {{/if}}
    </form>
  </div>
</template>
