<template name='friendList'>
  <div class="friend-list list-section">
    <form class="add-friend">
      <h2>Add Friend</h2>

      <input type="text" class="friend-input" name='search' placeholder='Enter name or email'>
      <button type='submit' class='friend-submit' disabled="{{#if addDisabled}}true{{/if}}"><span class="entypo-light-down"></span>Invite</button>
    </form>

    {{#if $.Session.get 'typing'}}
      <ul>
        {{#each $.Session.get 'addFriendList'}}
          {{> addFriendItem}}
        {{/each}}
      </ul>
    {{else}}
      <ul>
        {{#each $.Session.get 'friendList'}}
          {{> friendItem}}
        {{/each}}
      </ul>
    {{/if}}
  </div>
</template>
