<template name='friendList'>
  <div class="friend-list list-section">
    <form class="add-friend">
      <h2>Add Friend</h2>

      <input type="text" class="friend-input" name='search' placeholder='Enter name or email'>
      <button type='submit' class='friend-submit' disabled="{{#if addDisabled}}true{{/if}}"><span class="entypo-light-down"></span>Invite</button>
    </form>

    {{#if $.Session.get 'emailvalid'}}
        <div class="invite-mail empty-state">
          <img src="/images/email.svg" alt="">
          <h2>Invite by email</h2>
          <p>An email will be sent to {{$.Session.get 'email'}}. <br>
          If they accept they will become your friend.</p>
       </div>

    {{else}}
      {{#if $.Session.get 'typing'}}
        <ul>
          {{#each $.Session.get 'addFriendList'}}
            {{> addFriendItem}}
          {{/each}}
        </ul>
      {{else}}
        <ul>
          {{#each $.Session.get 'friendList'}}
            {{> friendItem}}
          {{/each}}
        </ul>
      {{/if}}
    {{/if}}
  </div>
</template>
