<template name='friendList'>
  <div class="friend-list list-section">
    <form class="add-friend">
      <h2>Add Friend</h2>

      <input type="text" class="friend-input" name='search' placeholder='Enter email' autocomplete="off">
      <button type='submit' class='friend-submit' disabled="{{#if addDisabled}}true{{/if}}"><span class="entypo-paper-plane"></span><span class="hide-on-small invite">Invite</span></button>
    </form>

    {{#if $.Session.get 'emailvalid'}}
        <div class="invite-mail empty-state">
          <img src="/images/email.svg" alt="">
          <h2>Invite by email</h2>
          <p>An email will be sent to <span class="email">{{$.Session.get 'email'}}</span> <br>
          If they accept they will become your friend</p>
       </div>
    {{else}}
      {{#if $.Session.get 'typing'}}
        {{#if $.Session.get 'addFriendList'}}
          <ul>
            {{#each $.Session.get 'addFriendList'}}
              {{> addFriendItem}}
            {{/each}}
          </ul>
        {{else}}
          <div class="sending-email empty-state">
            <span class="entypo-mail"></span>
            <h2>Finish typing that email to send an invite</h2>
          </div>
        {{/if}}
      {{else}}
        {{#if $.Session.get 'friendList'}}
        <ul>
          {{#each $.Session.get 'friendList'}}
            {{> friendItem}}
          {{/each}}
        </ul>
        {{else}}
        <div class="no-friends empty-state">
          <span class="icon">{{$.H.sadFace}}</span>
          <h2>You have no friends</h2>
          <p>Maybe type in some emails above?</p>
        </div>
        {{/if}}
      {{/if}}
    {{/if}}
  </div>
</template>
