<template name='listItem'>
  <li class='list-item'>
    <img class='image-url' src="{{imageUrl}}" alt="{{title}}">
    <div class="info">
      <span class="title-icon">
        <!-- <span class="type entypo-dribbble"></span> -->
        <p class='title'>{{name}}</p>
        <span class="delete entypo-cancel"></span>
      </span>

      <span class="seller-wrapper">
        {{#if $.H.compare seller "Amazon"}}
          <span class="favicon-icon zocial-amazon"></span>
        {{else}}
          {{#if $.H.favicon url}}
            <img class='favicon-icon' src="{{$.H.favicon url}}" alt="">
          {{/if}}
        {{/if}}

        <p class='seller'>{{seller}}</p>
      </span>

      <span class="price-bought">
        <span class="price">
          <p class='price'>{{price}}</p>
        </span>

        <span class="bought">
          <button class="buy">
            {{#if bought}}
            Bought by {{bought_user}}
            {{else}}
            Buy for USER
            {{/if}}
          </button>
        </span>
      </span>

      <span class="detail">
        <textarea class='detail-text' name="detail" id="" placeholder='detail' cols='3'></textarea>
      </span>

      {{#if url}}
      <span class="url">
        <a href="{{url}}" target='_blank'>visit page</a>
      </span>
      {{/if}}
    </div>
  </li>
</template>
