<template name='notifications'>
  <div class="notifications">
    <ul class='noti-list'>
      {{#each notis}}
        <div class="noti">
          <span class="icon entypo-gauge"></span>
          <h3 class='label'>{{label}}</h3>

          <span class="actions">
            {{#if $.H.compare type "request"}}
              <a class='action accept'>Accept</a>
              <a class='action decline'>Decline</a>
            {{else}}
              <a class="action okay">Okay</a>
            {{/if}}
          </span>
        </div>
      {{/each}}
    </ul>
  </div>
</template>
